@font-face {
    font-family: 'Lato';
    src: url("fonts/lato/Lato-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url("fonts/lato/Lato-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}

/* content styles */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
    
    font-family: Lato, sans-serif;
}

@media(min-width: 941px){
    .wrapperContent{
        width: 940px;
    }
}

@media(max-width: 940px) and (min-width: 700px){
    .wrapperContent{
        width: 700px;
    }
}

@media(max-width: 699px){
    .wrapperContent{
        width: 700px;
    }
}
/* 940 820 700 */

a {
    color: inherit;
    text-decoration: none;
}

.wrapper{
    justify-content: center;
}

/* Header */
.header{
    display: flex;
    justify-content: center;
    background-color: #2D303A;
    border-bottom: 6px solid #323746;
}



.wrapperHeader{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    height: 89px;
    background-color: #2D303A;
    color: white;
}

.logo{
    display: flex;
    width: 125px;
    height: 25px;
    font-size: 25px;
}

.logo::after{
    color: red;
    content: "*";
}

.navigation{
    display: flex;
    height: 14px;
    align-items: center;
}

.main-nav{
    display: flex;
    flex-flow: row wrap;
    list-style: disc;
    align-items: center;
    font-size: 13px;
}

.main-nav .main-nav-item{
    padding-left: 10px;
    margin-left: 30px;
}

.main-nav .home{
    list-style: none;
}

.main-nav .home {
    color: red;
}

/* Slider */

/* .slider-container {
    max-width: 1020px;
    position: relative;
    margin: auto;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    user-select: none;
} */

/* Portfolio */
.containerPortfolio{
    display: flex;
    justify-content: center;
    background-color: #2D303A;
    border-bottom: 6px solid #323746;
}

.wrapperPortfolio {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    background-color: #2D303A;
    ;
}

.logoPortfolio{
    display: flex;
    flex-flow: column wrap;
    margin:59px 40px 18px;
    size: 18px;
    color: #767E9E;
}

.logoPortfolio .firstTitle{
    size: 30px;
    width: 130px;
    height: 40px;
    color: #666D89;
    margin-bottom: 14px;
}

.buttonsWrapperPortfolio {
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    margin-left: 40px;
    margin-bottom: 18px;
    height: 22px;

}
.button-wrapper{
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
}

.buttonsWrapperPortfolio .buttonPortfolio {
    border-radius: 5px;
    background-color: #2D303A;
    color: #767E9E;
    border: 1px solid #767E9E;
}

.picturesPortfolio{
    display: flex;
    flex-flow: row wrap;
    margin: 18px 40px 74px;
}

.img-wrapper {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
}